[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment=Record voice
Exec=deepin-voice-recorder
GenericName=Voice Recorder
Icon=deepin-voice-recorder
Name=Deepin Voice Recorder
StartupNotify=true
TryExec=deepin-voice-recorder
Type=Application
X-Deepin-ManualID=deepin-voice-recorder
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=تسجيل صوت
Comment[ast]=Graba la voz
Comment[bg]=Запис на глас
Comment[ca]=Grava veu
Comment[cs]=Nahrát hlas
Comment[da]=Optag stemme
Comment[de]=Sprache aufnehmen
Comment[es]=Grabadora de voz
Comment[fr]=Enregistrer audio
Comment[hr]=Snimi glas
Comment[id]=Rekam Suara
Comment[it]=Record voice
Comment[lt]=Įrašinėti balsą
Comment[ms]=Rakam suara
Comment[ne]=आवाज रेकर्ड गर्नुहोस्
Comment[nl]=Stem opnemen
Comment[pl]=Nagraj głos
Comment[pt]=Gravar voz
Comment[pt_BR]=Gravar Voz
Comment[ru]=Запись голоса
Comment[sq]=Incizoni zë
Comment[sr]=Сними глас
Comment[tr]=Ses Kaydet
Comment[uk]=Диктофон
Comment[zh_CN]=录音
Comment[zh_HK]=聲音錄製工具
Comment[zh_TW]=錄製聲音
GenericName[ar]=مسجل الصوت
GenericName[ast]=Grabadora de voz
GenericName[bg]=Запис на глас
GenericName[ca]=Gravador de veu
GenericName[cs]=Nahrávač hlasu
GenericName[da]=Stemmeoptager
GenericName[de]=Sprachaufnahme
GenericName[es]=Voice Recorder
GenericName[fr]=Enregistreur Audio
GenericName[hr]=Snimač glasa
GenericName[id]=Perekam Suara
GenericName[it]=Voice Recorder
GenericName[lt]=Balso rašytuvas
GenericName[ms]=Perakam Suara
GenericName[ne]=आवाज रेकर्डर
GenericName[nl]=Geluidsopname
GenericName[pl]=Dyktafon
GenericName[pt]=Gravador de Voz
GenericName[pt_BR]=Gravador de Voz
GenericName[ru]=Диктофон
GenericName[sq]=Incizues Zëri
GenericName[sr]=Снимач Гласа
GenericName[tr]=Ses Kaydedici
GenericName[uk]=Диктофон
GenericName[zh_CN]=录音
GenericName[zh_TW]=錄音機
Name[ar]=مسجل الصوت الخاص بديبين
Name[ast]=Deepin Voice Recorder
Name[bg]=Deepin запис на глас
Name[ca]=Gravador de veu del Deepin
Name[cs]=Nahrávač hlasu
Name[da]=Deepin stemmeoptager
Name[de]=Deepin Sprachaufnahme
Name[es]=Deepin Voice Recorder
Name[fr]=Enregistreur Audio Deepin
Name[hr]=Deepin snimač glasa
Name[id]=Perekam Suara Deepin
Name[it]=Deepin Voice Recorder
Name[lt]=Deepin balso rašytuvas
Name[ms]=Perakam Suara Deepin
Name[ne]=डिपिन आवाज रेकर्डर
Name[nl]=Deepin Geluidsopname
Name[pl]=Dyktafon Deepin
Name[pt]=Deepin Voice Recorder
Name[pt_BR]=Gravador de Voz Deepin
Name[ru]=Диктофон Deepin
Name[sq]=Incizues Zëri Deepin
Name[sr]=Дипин Снимач Гласа
Name[tr]=Deepin Ses Kaydedici
Name[uk]=Диктофон Deepin
Name[zh_CN]=深度录音
Name[zh_HK]=深度錄音
Name[zh_TW]=Deepin 錄音

