[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment=Record voice
Exec=deepin-voice-recorder
GenericName=Voice Recorder
Icon=deepin-voice-recorder
Name=Deepin Voice Recorder
StartupNotify=true
TryExec=deepin-voice-recorder
Type=Application
X-Deepin-ManualID=deepin-voice-recorder
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=تسجيل صوت
Comment[ast]=Graba la voz
Comment[bg]=Запис на глас
Comment[bn]=ভয়েস রেকর্ড করুন
Comment[ca]=Grava veu
Comment[cs]=Nahrát hlas
Comment[da]=Optag stemme
Comment[de]=Sprache aufnehmen
Comment[el]=Εγγραφή φωνής
Comment[es]=Grabadora de voz
Comment[es_419]=Grabar voz
Comment[fi]=Tallenna ääni
Comment[fr]=Enregistrer audio
Comment[hr]=Snimi glas
Comment[hu]=Hang rögzítése
Comment[id]=Rekam Suara
Comment[it]=Record voice
Comment[ja]=録音
Comment[ko]=음성 녹음
Comment[lt]=Įrašinėti balsą
Comment[mn]=Дуу хураалгах
Comment[ms]=Rakam suara
Comment[ne]=आवाज रेकर्ड गर्नुहोस्
Comment[nl]=Stem opnemen
Comment[pl]=Nagraj głos
Comment[pt]=Gravar voz
Comment[pt_BR]=Gravar Voz
Comment[ru]=Запись голоса
Comment[sk]=Nahrávať hlas
Comment[sq]=Incizoni zë
Comment[sr]=Сними глас
Comment[ta]=ஒலியை பதிவு செய்க 
Comment[tr]=Ses kaydet
Comment[uk]=Диктофон
Comment[zh_CN]=录音
Comment[zh_HK]=聲音錄製工具
Comment[zh_TW]=錄製聲音
GenericName[ar]=مسجل الصوت
GenericName[ast]=Grabadora de voz
GenericName[bg]=Запис на глас
GenericName[bn]=ভয়েস রেকর্ডার
GenericName[ca]=Gravador de veu
GenericName[cs]=Nahrávač hlasu
GenericName[da]=Stemmeoptager
GenericName[de]=Sprachaufnahme
GenericName[el]=Εγγραφέας Φωνής
GenericName[es]=Voice Recorder
GenericName[es_419]=Grabadora de Voz
GenericName[fi]=Ääninauhuri
GenericName[fr]=Enregistreur Audio
GenericName[hr]=Snimač glasa
GenericName[hu]=Hangrögzítő
GenericName[id]=Perekam Suara
GenericName[it]=Voice Recorder
GenericName[ja]=ボイスレコーダー
GenericName[ko]=음성 녹음기
GenericName[lt]=Balso rašytuvas
GenericName[mn]=Дуу хураагуур
GenericName[ms]=Perakam Suara
GenericName[ne]=आवाज रेकर्डर
GenericName[nl]=Geluidsopname
GenericName[pl]=Dyktafon
GenericName[pt]=Gravador de Voz
GenericName[pt_BR]=Gravador de Voz
GenericName[ru]=Диктофон
GenericName[sk]=Záznam zvuku
GenericName[sq]=Incizues Zëri
GenericName[sr]=Снимач Гласа
GenericName[ta]=ஒலி பதிவான்
GenericName[tr]=Ses Kaydedici
GenericName[uk]=Диктофон
GenericName[zh_CN]=录音
GenericName[zh_TW]=錄音機
Name[ar]=مسجل الصوت الخاص بديبين
Name[ast]=Deepin Voice Recorder
Name[bg]=Deepin запис на глас
Name[bn]=ডিপিন ভয়েস রেকর্ডার
Name[ca]=Gravador de veu del Deepin
Name[cs]=Nahrávač hlasu
Name[da]=Deepin stemmeoptager
Name[de]=Deepin Sprachaufnahme
Name[el]=Εγγραφέας Φωνής Deepin
Name[es]=Deepin Voice Recorder
Name[es_419]=Grabadora de Voz de Deepin
Name[fi]=Deepin ääninauhuri
Name[fr]=Enregistreur vocal Deepin
Name[hr]=Deepin snimač glasa
Name[hu]=Deepin Voice Recorder
Name[id]=Perekam Suara Deepin
Name[it]=Deepin Voice Recorder
Name[ja]=Deepin ボイスレコーダー
Name[ko]=Deepin 음성 녹음기
Name[lt]=Deepin balso rašytuvas
Name[mn]=Дээпин Дуу Хураагуур
Name[ms]=Perakam Suara Deepin
Name[ne]=डिपिन आवाज रेकर्डर
Name[nl]=Deepin Geluidsopname
Name[pl]=Dyktafon Deepin
Name[pt]=Deepin Voice Recorder
Name[pt_BR]=Gravador de Voz Deepin
Name[ru]=Диктофон Deepin
Name[sk]=Deepin Záznam zvuku
Name[sq]=Incizues Zëri Deepin
Name[sr]=Дипин Снимач Гласа
Name[ta]=டிப்பின் ஒலி பதிவான்
Name[tr]=Deepin Ses Kaydedici
Name[uk]=Диктофон Deepin
Name[zh_CN]=深度录音
Name[zh_HK]=深度錄音
Name[zh_TW]=Deepin 錄音

